<?xml version="1.0" encoding="utf-8"?>

<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
xmlns="http://java.sun.com/xml/ns/javaee"
xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="2.5">

	<servlet>
		<servlet-name>getClient</servlet-name>
		<servlet-class>com.hemometal.invoice.mgmt.GetClient</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>getClient</servlet-name>
		<url-pattern>/getClient</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>addclient</servlet-name>
		<servlet-class>com.hemometal.invoice.mgmt.AddUpdateClient</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>addclient</servlet-name>
		<url-pattern>/addclient</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>getclients</servlet-name>
		<servlet-class>com.hemometal.invoice.mgmt.GetAllClients</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>getclients</servlet-name>
		<url-pattern>/getclients</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>addItem</servlet-name>
		<servlet-class>com.hemometal.invoice.mgmt.AddItem</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>addItem</servlet-name>
		<url-pattern>/addItem</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>getItem</servlet-name>
		<servlet-class>com.hemometal.invoice.mgmt.GetItem</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>getItem</servlet-name>
		<url-pattern>/getItem</url-pattern>
	</servlet-mapping>
	

	<servlet>
		<servlet-name>Hemometalinvoce</servlet-name>
		<servlet-class>com.hemometal.invoice.mgmt.HemometalinvoceServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Hemometalinvoce</servlet-name>
		<url-pattern>/hemometalinvoce</url-pattern>
	</servlet-mapping>
	
	
	<welcome-file-list>
		<welcome-file>items.jsp</welcome-file>
	</welcome-file-list>
</web-app>